body{
    margin: 0px;
    padding: 0px;
    background-color: #595959;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    transition: 200ms;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #595959;
    color: #ffffff;
    margin: 0px;
    padding: 10px;
}
button{
    background-color: #393939;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
    border: solid 2px #000000;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
}
button:hover{
    background-color: #bcbcbc;
    color: #393939;
    font-size: 15px;
}
iframe {
    margin: 20px;
    margin-top: 5px;
    width: calc(100vw - 40px);
    height: 1200px;
    border-radius: 20px;
    border: solid 2px #000000;
    z-index: 0;
}
img {
position: absolute;
z-index: -1;
width: 300px;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
}